body {
  font-family: Arial, sans-serif;
  background-color: grey;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  color: black;
}

p {
  font-size: 16px;
  color: #1254a7;
}

button {
  all: unset;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  
  color: #000;
}

#content {
  background-image: url("wp7897895.png");
  border: dashed 2px #1c1a1d;
  background-size: cover;
}

#ij {
  opacity: 50%;
}

#card {
  background-image:none;
}

#cardX {
  background-color: transparent;

}